body {
  padding-top: 5em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(10, 61, 21) ;
}
h1 {
  font-family: stencil-std,sans-serif;
  font-style: normal;
  color: white;
}
button {
  background: black;
  color: white;
  border-radius: .5em;
  padding: .5em;
  font-size: 24px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid green;
  cursor: pointer;
  transition: background 300ms linear;
}
button:hover {
  background: grey;
}
div {
  background-color: white;
  width: 50%;
  border-radius: .5em;
  margin: 2em auto;
  box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.36);
}
p {
  font-family: 'Solway', serif;
  padding: 1em;
  font-size: 18px;
}